/*
 *
 * {{ properCase name }} actions
 *
 */

 import { createAction } from 'redux-actions';

 import {
   DEFAULT_ACTION,
 } from './constants';

 export const defaultAction = createAction(DEFAULT_ACTION);
