/*
 *
 * {{ properCase name }} reducer
 *
 */

import { fromJS } from 'immutable';
import { handleActions } from 'redux-actions';

import {
  DEFAULT_ACTION,
} from './constants';

const initialState = fromJS({});

export default handleActions({
  [DEFAULT_ACTION]: state => state,
}, initialState);
